*
{margin:0

}
.app{
display: flex;
justify-content: space-evenly;
padding: 20px;

}
.app__header{

display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;

}
body{
    background-color: rgb(233, 233, 233);
}
.app__stats{
    display: flex;
    justify-content: space-between;
}
.app_dropdown{
    background-color: white;
}
.app__left{
    flex: 0.9;
}
.app__right{
    display: flex;
    flex-direction: column;
}
.app__graph{
flex-grow: 1;
    
}
@media (max-width:990px){
    .app{
        flex-direction:column;
    }
}